body {
	font-family: Arial, sans-serif;
}

.color-hint {
    background: #e2dedb;
}

img {
    width: 50px;
    height: auto;	
}

conteneur {
    display: flex;
    justify-content: center;
}

.match {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    max-width: 600px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid grey;
    border-top-width: 4px;
    border-right-width: 4px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
     margin-bottom: 20px;
}

.match .match-team-away, .match .match-team-local {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 49%;
}

.match-score {
    border: 1px solid black;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
}

.match-team-away {
    display: flex;
    flex-direction: row-reverse;
}

.match:hover {
	 background-color: grey;
}

h1{
    text-align: center;
}

h2{
	font-weight: bold;
	color: black;
	text-align: center;
}

h3{
    text-align: center;
}

div#nav{
    text-align: center;
}

div#nav ul{
    display: inline-block;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 500;
    overflow: hidden;
    background-color: #e2dedb;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

nav{
    width: 100%;
    margin: 0 auto ;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
    
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
